@model ForgotDto
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <form asp-action="forgotPassword" method="post">
                <div class="single-input-item">
                    <input asp-for="Email" placeholder="Email or Username" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="single-input-item">
                    <button type="submit" class="btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>