@model BasketViewModel

@{
    
}

    <div class="minicart-content-box">
        <div class="minicart-item-wrapper">
            @if (Model?.BasketItems != null && Model.BasketItems.Count != 0)
            {
                <ul>
                    @foreach (var item in Model.BasketItems)
                    {
                        <li class="minicart-item">
                            <div class="minicart-thumb">
                                <a href="product-details.html">
                                    <img src="~/uploads/products/@item.PosterImage" alt="product">
                                </a>
                            </div>
                            <div class="minicart-content">
                                <h3 class="product-name">
                                    <a href="product-details.html">@item.Name</a>
                                </h3>
                                <p>
                                    <span class="cart-quantity">@item.Count<strong>&times;</strong></span>
                                    <span class="cart-price">$@item.Price</span>
                                </p>
                            </div>
                        <a class="minicart-remove remove-basket" data-id="@item.ProductId"><i class="ion-android-close"></i></a>
                        </li>

                    }
                    @* <li class="minicart-item">
                <div class="minicart-thumb">
                <a href="product-details.html">
                <img src="~/assets/img/cart/cart-2.jpg" alt="product">
                </a>
                </div>
                <div class="minicart-content">
                <h3 class="product-name">
                <a href="product-details.html">Jasmine flowers white for all flower lovers</a>
                </h3>
                <p>
                <span class="cart-quantity">1 <strong>&times;</strong></span>
                <span class="cart-price">$80.00</span>
                </p>
                </div>
                <button class="minicart-remove"><i class="ion-android-close"></i></button>
                </li>*@
                </ul>

            <div class="minicart-pricing-box">
                <ul>
                    <li class="total">
                        <span>total</span>
                        <span><strong>$@Model.TotalAmount</strong></span>
                    </li>
                </ul>
            </div>

            <div class="minicart-button">
                <a href="cart.html"><i class="fa fa-shopping-cart"></i> view cart</a>
                <a asp-action="checkout" asp-controller="order"><i class="fa fa-share"></i> checkout</a>
            </div>
            }
            else
            {
                <p>Nothing Product Here</p>
            }
        </div>

      
    </div>


